#contact-form {
   background-color:rgba(72,72,72,0.7);
   padding: 10px 20px 30px 20px;
   max-width:100%;
   float: left;
   left: 157px;
   top: 200px;
   position: absolute;
   border-radius:7px;
   width: 450px;
 }

#contact-form input,   
#contact-form select,   
#contact-form label { 
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
} 
#contact-form input,   
#contact-form select,   

#contact-form input:focus,   
#contact-form select:focus,   
 

#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#991D57;
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form button[type="submit"]:hover {
   background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
   transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}

#event_table {
   width: 100%;
   border-radius: 8px;
   text-align: center;
   color: white;
}

#event_table td {
   background-color: rgb(0,0,0,0.4);
   padding: 7px;

}

#event_table th {   
   padding: 7px;
  
   background-color: #9C215A;
   color: white;
}

input:required, textarea:required {  
   box-shadow: none;
} 
#contact-form .required {  
   font-weight:bold;  
   color: #E5E6E7;      
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
   #contact-form{
      left: 3%;
      margin-right: 3%;
      width: 88%;
      margin-left: 0;
      padding-left: 3%;
      padding-right: 3%;
   }
}